@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital@0;1&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  padding: 5px;
  z-index: 100;
  display: block;
}

.info a {
  color: #f00;
  font-weight: bold;
  text-decoration: none;
}
